{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>Текст страницы "Технологии"</p>
    <p>
      Фермио́н — частица или квазичастица с полуцелым значением спина.
      Все частицы можно разделить на две группы в зависимости от значения их спина: 
      частицы с целым спином относятся к бозонам, 
      с полуцелым — к фермионам.
        
      Примеры фермионов: кварки 
      (они образуют протоны и нейтроны, которые также являются фермионами),
      лептоны (электроны, мюоны, тау-лептоны, нейтрино), 
      дырки (квазичастицы в полупроводнике). 
      Фермионами являются также квантовомеханические системы, 
      состоящие из нечётного числа фермионов (и произвольного числа бозонов).
        
      Фермионы подчиняются принципу Паули; волновая функция 
      системы тождественных фермионов меняет знак при перестановке любых двух частиц. 
      Термодинамически равновесное состояние такой системы 
      описывается статистикой Ферми — Дирака, с чем и связано их название. 
      Название фермион было введено английским физиком-теоретиком 
      Полем Дираком от фамилии итальянского физика Энрико Ферми; 
      впервые термины «бозон» и «фермион» были использованы Дираком 
      в лекции «Развитие атомной теории», прочитанной им во вторник, 
      6 декабря 1945 года в парижском научном музее "Дворец открытий".
    </p>
  </article>
</div>
{% endblock %}